/* The @import rule below has been provided to import the font required for the task*/
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

/* Your code here: */
.header {
    background-color: #80ced6;
    text-align: center;
    padding: 10px;
    font-size: 2em;  
    position: relative;
}

h1 {
    font-family: 'Borel', cursive;
    margin-bottom: 0px;
}

.nav {
    padding: 20px;
    text-align: center;
    background-color: darkgray;
}

.nav a {
    font-family: Arial, cursive;
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    padding: 80px;
    margin: auto;
}

body {
    margin: 0px;
}

.content {
    width: 1200px;
    margin: auto;
    position: relative;
}

#kitchen {
    z-index: 0;
}

.olives{
    width: 50px;
    position: absolute;
}

#olives-black {
    top: 58px;
    left: 320px;
}

#olives-green {
    top: 51px;
    right: 319px;

}

.food {
    z-index: 1;
    position: absolute;
}

#butternut-squash {
    width: 290px;
    top: 475px;
    left: 480px;
}

#kumara {
    width: 250px;
    top: 530px;
    left: 760px;

}

#jam-jar {
    width: 100px;
    top: 51px;
    left: 718px;
}

#tomato-jar {
    width: 60px;
    top: 28px;
    left: 540px;
}

.food:hover {
    transform: scale(1.2);
}